.footer {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 20% 50% 30%;
}

@media screen and (max-width: 720px) {
    .footer {
        grid-template-columns: 15px 300px;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "bucar_pro" "ofertas_pro";
    }
    .footer .logo img {
        display: none;
    }
    .footer .ofertas_pro {
        grid-area: ofertas_pro;
    }
    .bus input {
        width: 226px;
        height: 34px;
        font-size: 9px;
        border-radius: 4px;
        transform: translate(26px, 0px);
    }
    .menu a {
        font-size: 9px;
        padding: 10px;
    }
    .menu li ul li {
        transform: translate(-32px, 4px);
        width: 158px;
        height: 20px;
    }
    .ofertas_pro img {
        margin: 26px 8px;
    }
    .boton {
        width: 43px;
        height: 33px;
        padding: 12px 17px;
        background: cornsilk;
        cursor: pointer;
        border-radius: 5px;
        border: antiquewhite;
        transform: translate(23px, 4px)
    }
    .menu_boton {
        width: 32px;
        transform: translate(4px, -17px);
        height: 29px;
        border: aliceblue;
        display: block;
    }
    .usuario_pro>li {
        float: left;
        transform: translate(-33px, -40px);
        list-style: none;
        padding: 6px 0px;
    }
    .usuario_pro a {
        color: #858042;
        font-family: emoji;
    }
    .usuario_pro a {
        padding: 0px;
    }
    .usuario_pro {
        box-shadow: 0px 0px 4px rgb(0 0 0 / 83%);
    }
}


/*3175180237*/